body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(143, 142, 142);
}

.center {
  text-align: center;
}

header {
  background-color: #2c2c2c;
  color: #fff;
  padding: 20px;
}

.img-wd-ht {
  width: 800px;
  height: 500px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
  transition-duration: 300ms;
  border-bottom: 4px solid red;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1 h2 h3 {
  color: #000000;
}

#galery img {
  width: 300px;
  height: 300px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  outline: none;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  font-size: 25px;
  overflow: hidden;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background-color: #000000;
  color: red;
  transition-duration: 300ms;
}

button:active {
  color: rgb(197, 8, 8);
  background-color: white;
}

footer {
  background-color: #2c2c2c;
  color: #fff;
  padding: 20px;
}

.social-icons {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
}

.red {
  color: red;
}

.text-shadow {
  text-shadow: 1.4px 2.1px 4px rgb(95, 93, 93);
}

.box-shadow {
  box-shadow: 1.4px 2.1px 4px rgb(95, 93, 93);
}

.list-style-none {
  list-style-type: none;
}

.social-icons a:hover {
  color: red;
  transition-duration: 300ms;
}

.border-pic-radius {
  border-radius: 100%;
}

.border-radius {
  border-radius: 5px;
}
