
.nav-link {
    color: $link-color;
  
    &:hover {
      color: $link-hover-color;
      transition-duration: 300ms;
    }
  }
  
  .logo-img {
    width: 50px;
    height: auto;
  
    @include media-mobile {
      width: 30px;
    }
  }

  .navbar-toggler:focus {
    box-shadow: none;
    border-color: black;
  }
  

@media (max-width: 767px) {
.navbar-nav {
      .nav-link {
        &:hover {
          color:$link-color;
        }
  
      }
    }
  }