$main-color: rgb(80, 79, 79);
$link-color: #fff;
$link-hover-color: red;
$form-btn-bg: rgba(0, 0, 0, 1);
$form-btn-color: #fff;
$form-btn-hover-bg: rgb(31, 31, 31);
$form-btn-hover-color: red;
$form-btn-active-color: rgb(197, 8, 8);
$text-shadow-color: rgb(12, 12, 12);
$box-shadow-color: rgb(43, 41, 41);
$footer-bg-color: rgba(0, 0, 0, 1);
$footer-text-color: #fff;
$font-color: #b9b7b7;