$font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$primary-color: rgb(80, 79, 79);
$secondary-color: rgba(0, 0, 0, 1);
$text-color: #b9b7b7;
$red-color: red;
$text-shadow-color: rgb(12, 12, 12);
$box-shadow-color: rgb(43, 41, 41);
